body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.vertical-divider{
  width: 2px;
  height: 100vh;
  /* max-height: 100%; */
  background-color: whitesmoke;
}
.App{
  font-family: "Montserrat", sans-serif;
  /* justify-content: center; */
}